<a href="https://github.com/goclub/mongo"><i class="fa fa-github"></i> Github</a>
<a id="mongoOfficialLink" target="_blank" href="#">官方原文</a>

<script>
    mongoOfficialLink.href = "https://docs.mongodb.com" + location.pathname + location.search + location.hash
</script>

<script>
    window.GithubRepoURL = ""
    window.GithubRepoURL = "{{ site.github.repository_url }}"
    window.GithubBranch  = "main"
    window.GithubBranch = "{{ site.github.source.branch }}"
    if (GithubBranch == "gh-pages") {
        GithubBranch = "main"
    }
    window.PagePath = "{{page.path}}"
    window.onload = function (){
        document.querySelectorAll('a').forEach(function (node) {
            var embedReg = /\?blob/g
            if (!embedReg.test(node.href)) {
                return
            }
            node.setAttribute('target', "_blank")
            var sourcePath = node.href.replace(location.origin, '').replace(location.pathname, "").replace("?blob","?")
            var onlineHref = GithubRepoURL + "/blob/" + GithubBranch  + "/"+ PagePath.replace(/\/[^/]*$/, "/") + sourcePath
            node.href = onlineHref
            var githubIcon = document.createElement("span")
            githubIcon.className = "fa fa-github"
            githubIcon.style = "margin-right:.3em;"
            node.prepend(githubIcon)
        })
    }
</script>